@import url('https://fonts.googleapis.com/css2?family=Belanosima&family=Caprasimo&display=swap');




h1{
    font-size: 4rem;
    font-family:  sans-serif;

}



.btn{
    padding:20px ;
    margin:  0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
    width: 80px;
    font-size: 1.9rem;
    
}


.row{
    margin: 10px 40px;
    
}

.row input{
    font-size: 29px;
    margin: 0;
    padding: 10px 0px;
    border: 2px solid black;
    border-radius: 5px;
}













